.Cart {
    background-image: url(./img/Rectangle\ 1.png);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.Cart-d{
    font-size: 50px;
}
.Cart-d .img {
    width: 7%;
    margin-top: 80px;
    margin-bottom: -100px;
    
}
.Cart_p {
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin-top: -65px;
}
.b {
    font-weight: 700;
}
.nav {
    width: 800px;
    background-color: #F9F1E7;
    display: flex;
    gap: 115px;
    font-size: 18px;
    padding-left: 140px;
}
.pokupka {
    margin-top: 70px;
    margin-left: 40px;
    display: flex;
    gap: 25px;
    margin-bottom: 100px;
}
.p-o {
    margin-left: 50px;
}
.p-o2 {
    margin-left: -50px;
}
.tovar {
    display: flex;
    gap: 100px;
    margin-top: 60px
}
.tovar p{
    margin-top: 40px;
}
.gray {
    color: #9F9F9F;
}
.flex {
    display: flex;
    gap: 25px
}
.kolichestvo {
    border: 1px solid #9F9F9F;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 3px
}
.right {
    background-color: #F9F1E7;
    width: 350px;
    height: 380px;
    text-align: center;
    justify-content: center;

}
.p-h1 {
    font-size: 30px;
    font-weight: 600
}
.subt {
    display: flex;
    gap: 40px;
    justify-content: center
}
.grayt {
    font-size: 15px;
    color: #9F9F9F
}
.goldt {
    font-size: 18px;
    color: #B88E2F;
    
}
.Check {
    width: 180px;
    background-color: #F9F1E7;
    border: 1px solid black;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px
}
.Da {
    background-color: #FAF3EA;
    display: flex;
    gap: 95px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
}
.d {
    display: flex;
    gap: 20px;
}
.pd {
    font-weight: 700;
    font-size: 20px
}
.pdd {
    margin-top: -20px;
    color: #7c7c7c
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body{
    width: 1440px;
    display: flex;
    flex-flow: column;
    justify-self: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

header{
    width: 1440px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 34px;
    width: bold;
}

.part1_header{
    width: 185px;
    height: 41px;
    margin-left: 54px;
}


.part2_header_buttons{
    width: 430px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.part3_header_icons{
    width: 247px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

a{
    color: black;
    text-decoration: none;
}

footer{
    width: 1440px;
    height: 505px;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color:gray; 

}

.footer_center{
    margin-left: 100px; 
    margin-top: 48px;
    margin-bottom: 96px;
    width: 1133px;
    height: 312px;
    display: flex;
    justify-content: space-between;
    
}

.part1_footer p{
    margin-top: 48px;
    font-weight:medium;
    color: #9F9F9F;
}

footer h1{
    font-weight: Bold;
    margin-top: 48px;
    margin-bottom: 50px;
}

footer h2{
    margin-top: 48px;
    font-weight:lighter;
    margin-bottom: 61px;
}

footer h3{
    margin-bottom: 46px;
}

.inputer_footer{
    width: 200px;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 2px;
    font-size: 14px;
}

.button_footer{
    width: 75px;
    height: 21px;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 2px;
    background: none;
    font-size: 14px;
}

.part5_footer{
    width: 1240px;
    height: 59px;
    display: flex;
    align-items: end;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    justify-self: center;
}