body {
    width: 1440px;
    display: flex;
    justify-self: center;
    flex-flow: column;
}

.rooms {
    background-color: #FCF8F3;
    display: flex;
    width: 1440px;
    height: 670px;

}

.text {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    max-width: 422px;
}

.big_text {
    font-size: 40px;
    font-weight: bold;
    color: black;
    padding-top: 223px;
}

a{
    color: black;
    text-decoration: none;
}

.smol_text {
    font-size: 16px;
    font-weight: medium;
    margin-top: -30px;
}

.more {
    background-color: #B88E2F;
    color: white;
    width: 176px;
    height: 48px;
    border: none;
    margin-top: 25px;
}

.more:hover {
    background-color: #644408;
}

.images {
    padding-top: 44px;
    display: flex;
}

.grey_room {
    width: 404px;
    height: 582px;
    padding-left: 42px;
}

.column {
    display: flex;
    flex-direction: column;
}

.kitchen_room {
    width: 372px;
    height: 486px;
    padding-left: 24px;
    z-index: 0;
}

.dots {
    width: 120px;
    height: 27px;
    margin-top: 40px;
    margin-left: 24px
}

.next {
    width: 48px;
    height: 48px;
    margin-top: 311px;
}

.furnitura {
    background-color: white;
    width: 1440px;
    height: 897px;
}

.text2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share_text {
    font-size: 20px;
}

.hashtag {
    font-size: 40px;
    font-weight: bold;
    margin-top: -5px
}

footer{
    width: 1440px;
    height: 505px;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color:gray; 

}

.footer_center{
    margin-left: 100px; 
    margin-top: 48px;
    margin-bottom: 96px;
    width: 1133px;
    height: 312px;
    display: flex;
    justify-content: space-between;
    
}

footer h1{
    font-weight: Bold;
    margin-top: 48px;
    margin-bottom: 50px;
}

.footer_center h2{
    margin-top: 48px;
    font-weight:lighter;
}

.part1_footer p{
    margin-top: 48px;
    font-weight:medium;
    color: #9F9F9F;
}

footer h3{
    margin-bottom: 46px;
}

.inputer_footer{
    width: 200px;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 2px;
    font-size: 14px;
}

.button_footer{
    width: 75px;
    height: 21px;
    border-width: 0px;
    border-bottom-width: 1px;
    padding-bottom: 2px;
    background: none;
    font-size: 14px;
}

.part5_footer{
    width: 1240px;
    height: 59px;
    display: flex;
    align-items: end;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    justify-self: center;
}